<%- include('partials/header'); -%> 

<!-- Rating state start -->
<div class="container-fluid">

  <main>
    <div class="rating-star">
      <img class="star-image" src="images\icon-star.svg"/>
    </div>
    <h1 class="big-heading main-heading">How did we do?</h1>
    <p class="main-paragraph">Please let us know how we did with your support request. All feedback is appreciated 
      to help us improve our offering!</p>
      <form action="/" method="post">
        <div class="d-flex justify-content-between button-divs">
          <button class="btn rating-btn" type="button" value="1">1</button>
          <button class="btn rating-btn" type="button" value="2">2</button>
          <button class="btn rating-btn" type="button" value="3">3</button>
          <button class="btn rating-btn" type="button" value="4">4</button>
          <button class="btn rating-btn" type="button" value="5">5</button>
          <input id="ratingInput" type="hidden" name="ratingInput" />
        </div>
        <button type="submit" id="submitBtn" class="btn btn-lg submit-button">Submit</button>
      </form>
      
  </main>

<%- include('partials/footer'); -%> 