<%- include('partials/header'); -%> 

<!-- Rating state start -->
<div class="container-fluid">

  <main>
    <div class="thank-image-div">
        <img class="thank-image" src="images\illustration-thank-you.svg"/>
    </div>
    <div class="inform-div">
      <p class="inform-paragraph">You selected <%= ratingStar %> out of 5</p>
    </div>
    <h1 class="big-heading">Thank you!</h1>
    <p class="thank-paragraph">We appreciate you taking the time to give a rating. If you ever need more support, 
        don’t hesitate to get in touch!</p>
  </main>

<%- include('partials/footer'); -%> 